* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  background: #0d715348;
}

.carousel {
  background-color: #087f5b;
  width: 800px;
  margin: 100px auto;
  border-radius: 8px;
  padding: 32px 48px 32px 86px;
  display: flex;
  /* align-items: center; */
  gap: 86px;
  position: relative;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #e6fcf5;
}

.testimonial-job {
  font-size: 12px;
  color: #e6fcf5;
}

/* CONTROLS */
.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);
  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: white;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #087f5b;
}
